/** 定义弹性布局大容器 **/

.bg6lh-flex-container {
    background-image: url(https://s3.amazonaws.com/files.qrz.com/h/bg6lh/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c5cacf;

    margin: 0;
    padding: 1em;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/** 定义弹性布局盒子 **/

.bg6lh-flex-box{
    margin: 0;
    padding: 0;
    break-inside: avoid;
}


/** 响应式分屏的基本逻辑 **/
/*

QRZ bio页面，自定义内容HTML部分，是容纳在一个iframe中的页面。
QRZ页面本身占用一定屏幕宽度，分给iframe的宽度，不能纯粹按照屏幕尺寸走。
在自定义的bio页面中，CSS的容器尺寸，就是iframe的尺寸，随着页面大小变化。
最大尺寸没有上限，最小尺寸是645px。

于是，我的bio内容框架，根据iframe的尺寸，分成四种情况：

*/


/** 响应1：iframe尺寸大于1550时 分三列，最宽宽度为1550 **/

@media screen and (min-width: 1550px) {

    .bg6lh-flex-container {
        width: 1550px;
        height: 5000px;
    }

    .bg6lh-flex-box{
        width: calc(100%/3);
    }

    /* 3列水平布局 */
    .bg6lh-flex-box:nth-child(3n+1) { order: 1; }
    .bg6lh-flex-box:nth-child(3n+2) { order: 2; }
    .bg6lh-flex-box:nth-child(3n)   { order: 3; }

    /* 换列的分隔线 */
    .bg6lh-flex-container::before, .bg6lh-flex-container::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
    }

}

/** 响应2：iframe尺寸小于1550，大于1280时， 分三列，宽度自适应 **/

@media screen and (max-width: 1550px) and (min-width: 1281px)  {

    .bg6lh-flex-container {
        height: 3000px;
    }

    .bg6lh-flex-box{
        width: calc(99%/3);
    }

    /* 3列水平布局 */
    .bg6lh-flex-box:nth-child(3n+1) { order: 1; }
    .bg6lh-flex-box:nth-child(3n+2) { order: 2; }
    .bg6lh-flex-box:nth-child(3n)   { order: 3; }

    /* 换列的分隔线 */
    .bg6lh-flex-container::before, .bg6lh-flex-container::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
    }

}


/** 响应3：iframe尺寸小于1280 大于1024时，分2列，宽度自适应 **/

@media screen and (max-width: 1280px) and (min-width: 1025px) {


    .bg6lh-flex-container {
        height: 8000px;
    }

    .bg6lh-flex-box{
        width: calc(100%/2);
    }

    /* 改2列 水平布局 */
    .bg6lh-flex-box:nth-child(2n+1) { order: 1; }
    .bg6lh-flex-box:nth-child(2n) { order: 2; }

    /* 换列的分隔线 */
    .bg6lh-flex-container::before, .bg6lh-flex-container::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
    }

}


/** 响应4：iframe尺寸小于1024时，分1列，宽度自适应，直到iframe的上限 **/
@media screen and (max-width: 1024px) {

    .bg6lh-flex-container {
        height: 10000px;
    }

    /** 变1列 */
    .bg6lh-flex-box{
        width: 100%;
    }

    /*.bg6lh-flex-box:nth-child(2n) { order: 1; } */

}


/** 内容模块 **/

#bg6lh-header {
    text-align: center;
    margin: 1em;
    font-size: 2em;
}

#bg6lh-content {
    margin: 1em !important;
    padding: 1.4em !important;
    background-color: rgb(255,255,255,1) !important;
}


#bg6lh-content h3{
    text-align: center;
}

#bg6lh-content img{
    width: 100%;
}


/* 奖状相册部分 */

div.bg6lh-award-box {
    border: 1px solid #ccc;
}

div.bg6lh-award-box:hover {
    border: 1px solid #666;
}

div.bg6lh-award-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/** social icons**/

ul.social-icons li {
  list-style: none;
}

ul.social-icons li a {
  position:relative;
  text-decoration:none;
  color:#404040;
  transition:.5s;
}

ul.social-icons .facebook:hover {
  color: #3b5998;
}

ul.social-icons .twitter:hover {
  color: #1da1f2;
}

ul.social-icons .instagram:hover {
  color: #c32aa3;
}

ul.social-icons .google:hover {
  color: #dd4b39;
}

ul.social-icons li a .twitter {
  color: #1da1f2;
}

ul.social-icons li a:hover:nth-child(3) {
  color: #c32aa3;
}
ul.social-icons li a:hover:nth-child(4) {
  color: #dd4b39;
}

/* end of BG6LH's CSS code */
#t_bio.biodiv {background-color:#FFFFFF}
